.time-recorder {
  width: 100%;
  background-color: var(--white);
  border-radius: 2px;
  border: 1px solid var(--primary-light);
  padding: 10px 12px;
  box-shadow: 0 0 20px #0000001a;
}

.time-recorder input {
  font-family: inherit;
  border: none;
  width: 100%;
  outline: none;
  padding: 10px 12px;
  border: 1px solid transparent;
  margin-right: 10px;
}

.time-recorder input:focus,
.time-recorder input:hover {
  border: 1px solid var(--primary-light);
}

.selected-project {
  gap: 10px;
  color: var(--secondary);
  margin-right: 30px;
}

.tag-btn,
.btn-billing {
  padding: 0 20px;
  border-left: 1px dotted rgba(102, 102, 102, 0.3);
}

.btn-billing {
  font-size: 24px;
  font-weight: 100;
  border-right: 1px dotted rgba(102, 102, 102, 0.3);
  color: #999;
}

.btn-billing.billable {
  color: var(--secondary);
}

.timer {
  font-weight: 700;
  color: #000;
  font-size: 18px;
  padding: 0 25px;
}
